/*
	CSS developed by Luke Brown - me@luke.sx
*/
body {
	text-align: center !important;
	overflow: hidden !important;
}

h1, h2, h3, h4 {

	font-family: 'Roboto Slab', serif !important;
	font-weight: 100 !important;
	color: white !important;
}

h1 {
	margin-top: 200px !important;
	font-size: 80px !important;
}

#landing-content {
	overflow: hidden !important;
	width: 100% !important;
	background-position:center !important;
	background-size: 120% 120% !important;
	background-repeat: no-repeat !important;
	height: 100% !important;
	position: fixed !important;
}

.slider {
	margin-left: auto !important;
	margin-right: auto !important;
	overflow: hidden !important;
	padding-top: 200px !important;
	max-width: 1002px !important;
}

.slider img {
	width: 80% !important;
	padding-left: 10% !important;
	padding-right: 10% !important;
	height: auto !important;
	margin-left: auto !important;
	margin-right: auto !important;
}

.alignment {
	z-index: 1 !important;
	top: 5 !important;
	right: 10vw !important;
	left: 10vw !important;
}

.rnd-btn {
width:25% !important;
}

.rnd-btn-o {
	width: 50px !important;
	height: 50px !important;
	border-radius: 50% !important;
	border: 2px solid #FFFFFF !important;
	overflow: hidden !important;
	box-shadow: 0 0 3px gray !important;
	margin: 15px !important;
}
.rnd-btn-o:hover {
	background:rgba(48, 88, 142, 0.36) !important;
}
.rnd-btn a {
    display:block !important;
	float:left !important;
	width:100% !important;
	padding-top:50% !important;
    padding-bottom:50% !important;
	line-height:1em !important;
	margin-top:-0.5em !important;
    
	text-align:center !important;
	color:#e2eaf3 !important;
    font-family:Verdana !important;
    font-size:1.2em !important;
    font-weight:bold !important;
    text-decoration:none !important;
}
.buttons {
	margin-left: auto !important;
	margin-right: auto !important;
	display: -webkit-inline-box !important;
}